body {
  background-color: rgb(162, 170, 176);
}
.container {
  height: 100vh;
  width: 100%;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.calculator {
  background-color: rgb(8, 8, 8);
  padding: 20px;
  border-radius: 10px;
}
.calculator form input {
  border: 0;
  border-radius: 25px;
  width: 60px;
  height: 60px;
  outline: 0;
  box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1),
    -5px -5px 15px rgba(0, 0, 0, 0.2);
  background: transparent;
  cursor: pointer;
  font-size: 25;
  margin: 5px;
}
.display-screen {
  display: flex;
  justify-content: flex-end;
  margin: 20px 0;
  background-color: black;
}
.display-screen input {
  text-align: right;
  color: #ffffff;
  flex: 1;
  font-size: 30px;
  box-shadow: none;
}

#actions {
  background-color: rgb(186, 186, 186);
}
#numbers {
  background-color: #474646;
  color: white;
}
#operator {
  background-color: orange;
  color: white;
}
form input.zero {
  width: 135px;
  text-align: center;
}
